* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 10%;
    font-family: sans-serif;
}

.quiz-container {
    background-color: white;
    width: 38%;


    display: flex;
    flex-direction: column;

    border-radius: 1.5rem;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);

    gap: 0.5rem;
}

h2 {
    line-height: 2rem;
    text-align: center;
    padding-top: 9%;
}

h3 {
    padding-top: 2%;
    padding-left: 6px;
    display: none;
}

ul {
    list-style: none;
    padding: 0% 0% 3% 9%;
}

li {
    padding: 5px;
    cursor: pointer;
}

label {
    font-size: 1.2rem;
    padding-left: 5px;
}

#submit {
    width: 100%;
    background-color: #F1C40E;

    color: white;
    font-size: 1.3rem;
    font-weight: bold;

    padding: 7.5px;

    border: none;
    border-radius: 0 0 10px 10px;
}

#submit:hover {
    background-color: #F39C12;
    cursor: pointer;
}