* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-family: sans-serif;
}

.wrapper {
    background-color: white;
    box-shadow: 0 0 5px rgb(0, 0, 0.3);

    gap: 10px;
    padding: 3rem 4rem;

    display: flex;
    flex-direction: column;

    align-items: center;

}

h1 {
    font-size: 3rem;
}


.btns {
    display: flex;
    gap: 5px;
}

button {
    color: white;

    font-size: 1.2rem;
    border: none;
}

#plus {
    padding: 0.4rem 0.8rem;
    background-color: green;
}

#reset {
    padding: 0.4rem 0.5rem;
    background-color: blue;
}

#minus {
    padding: 0.4rem 0.8rem;
    background-color: red;
}



#plus:hover {
    background-color: rgb(2, 107, 2);
}

#reset:hover {
    background-color: rgb(6, 6, 155);
}

#minus:hover {
    background-color: rgb(229, 7, 7);
}